@page  "/services/create/"
@using NutriView.Shared.Domain;
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Service</h3>
<hr />
<br />

<ServiceFormComponent ButtonText="Create Service" service="service" OnValidSubmit="@CreateService" />
@code {
    Service service = new Service();
    private async Task CreateService()
    {
        await _client.PostAsJsonAsync(Endpoints.ServicesEndpoint, service);
        _navManager.NavigateTo("/services/");
    }
}

