@page "/AboutUs"

<PageTitle>AboutUs</PageTitle>



<head>
    <style>
        *{
            box-sizing: border-box;
        }
        .container {
            height:100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            position:relative;

        }

        .header {
            display:flex;
            min-height:500px;
            max-width:100%;
            background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('images/aboutus.jpg');
            background-size:cover;
            position: relative;
        }

        .leftDiv {
            text-align: center;
            flex: 3; /* Three times wider than the right div */
            background-color: #e0e0e0;
            padding: 20px;
            z-index: 1;
        }

        .leftDiv img {
            align-content: center;
            max-width: 100%; /* Ensure images don't exceed the width of the right div */
            display: block;
            margin-bottom: 10px;
            padding:10px;
        }
        .rightDiv {
            text-align: center;
            flex: 1;
            background-color: #f0f0f0;
            padding: 20px;
            z-index: 1;
        }

        .rightDiv img {
            align-content:center;
            max-width: 100%; /* Ensure images don't exceed the width of the right div */
            height: 100px;
            display: float ;
            border-radius: 50%;
        }
    </style>
</head>

<body>
        <div class="header">

        </div>
    <div class="container">
        <div class="leftDiv">
            <h1>Welcome to NutriView Corporations</h1>
            <img src="images/nv_logo.jpg" style="height:300px" />
            <p>
                At NuriView Corporations, we believe that a heathy lifestyle would always begins with proper nutrition.
                We are a dedicated team of nutritionists and dietitians comitted in providing you with the knowledge and tools to
                aid you in your journey to a healthier diet.
            </p>
            <img src="images/ourmission.jpg" />
            <h2>Our Mission</h2>
            <p>
                Our mission is to empower individuals to achieve optimal health through mindful eating.
                We understand that nutrition is not always a one-size-fits-all.
                Our goal is to guide you on a personalized journey towards a balanced and nourishing lifestyle that will bring you a step closer to a healthier you.
            </p>
            <h2>Expert Guidance</h2>
            <p>Backed up my a team of health professionals,NutriView offers expert guidance on nutrition,meal planning and tracking.
                Whether you are aiming for weight management or any specific heath goals , we at NutriView supports you in every step of the way.
            </p>
        </div>
        <div class="rightDiv">
            <h1>Website Created By</h1>
            <img src="Images/creator1.jpg" alt="ChunLim Image" style="align-items:center" />
            <h2>Ng Chun Lim</h2>
            <p>Year 2 Student In Temasek Poly</p>
            <p>Contact Information:</p>
            <ul>
                <li><a href="https://www.linkedin.com/in/ng-chun-lim-0b5458264/">LinkedIn</a></li>
                <li><a href="mailto:2204166I@student.tp.edu.sg">OutLook</a></li>
            </ul>

            <img src="Images/creator2.jpg" alt="Kenneth Image" />
            <h2>Kenneth Lim</h2>
            <p>Year 2 Student In Temasek Poly</p>
            <p>Contact Information:</p>
            <ul>
                <li><a href="https://www.linkedin.com/in/kenneth-jun-de-lim-385b17262/">LinkedIn</a></li>
                <li><a href="mailto:2200817A@student.tp.edu.sg">OutLook</a></li>
            </ul>

        </div>
    </div>
</body>






