@page "/BMICalculator"


<head>
    <style>
        body {
            background: linear-gradient(to right, #001F3F, #003366);
            color: white;
        }
    </style>
</head>
<body>
    <h3>BMI_Calculator</h3>
</body>
@code {

}
