@page "/ConfigPage"

<head>
    <style>
        body{
            background-color:brown;
        }
        h1{
            text-align: center;
            align-content:center;
            justify-content: center;
            font-size:100px;
        }
        .button-container {
            text-align: center;
            margin: 10px;
        }

        .button {
            padding: 10px 20px;
            font-size: 30px;
            cursor: pointer;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 55px;
            margin: 5px;
        }
    </style>
</head>

<header>
    <body>
    <h1 style="color:red">!ADMIN ONLY!</h1>
    <div class="button-container">
        <a href="staffs">
            <button class="button">Staff Config <In /> </button>
        </a>

        <a href="foodentries">
            <button class="button"> Food Entry Config </button>
        </a>

        <a href="companies">
            <button class="button"> Company Config </button>
        </a>
    </div>
    <div class="button-container">
        <a href="customers">
            <button class="button"> Customer Config </button>
        </a>

        <a href="foods">
            <button class="button"> Food Config</button>
        </a>

        <a href="meals">
            <button class="button"> Meals Config </button>
        </a>
    </div>
    <div class="button-container">
        <a href="nutritioninfos">
            <button class="button"> Nutrition Infos Config </button>
        </a>

        <a href="nutritionalquotas">
            <button class="button"> Nutritional Quotas Config</button>
        </a>

        <a href="subscriptions">
            <button class="button"> Subscription Config </button>
        </a>
    </div>
    <div class="button-container">
        <a href="subscriptioninfos">
            <button class="button"> Subscription Infos Config </button>
        </a>
            <a href="entrylinkfoods">
                <button class="button"> Entry Link Food Config </button>
            </a>
            <a href="serviceLinkSubInfos">
                <button class="button"> Service Linking Subscriptions </button>
            </a>
    </div>
    </body>
</header>