@page "/CustomerProfile"
<h3>CustomerProfile</h3>
<EditForm Model="@userCredentials" OnValidSubmit="Login">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="Username">Username:</label>
        <InputText id="Username" @bind-Value="userCredentials.Username" />
    </div>

    <div>
        <label for="Password">Password:</label>
        <InputText type="password" id="Password" @bind-Value="userCredentials.Password" />
    </div>

    <button type="submit">Login</button>
</EditForm>

@code {

}
