@page "/"


<head>
    <style>
        body{
            background-color:dimgray;
        }
        .register-button,
        .login-button {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            text-decoration: none;
            color: #fff;
            background-color: black;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="landingpagecontent">
        <h1 style="font-size:x-large">Fuel Tour Fitness Journey: Empower Your Health,Ignite Your Potential</h1>
        <p>Embark on a transformative journey towards a healthier, stronger you! 🌟<br />
            Ready to crush your fitness goals and redefine your well-being?<br />
            Look no further! <br />
            Sign up today for free and unlock a world of personalized nutrition, expert guidance, and a vibrant community cheering you on every step of the way. <br />
            Your wellness adventure starts here – join us in the pursuit of a fitter, happier, and more energized version of yourself!.</p>
        <a href="authentication/register" class="register-button">Register</a>
        <a href="authentication/login" class="login-button">Login</a>
    </div>

</body>
