@page "/NutritionsINFO"
<head>
    <style>
        body {
            background: linear-gradient(to right, #87CEFA, #ADD8E6);
        }
    </style>
</head>
<body>
    <h3>Nutriton Information</h3>
</body>


@code {

}
