@page "/PersonalTracker"


<head>
    <style>
        body{
            background: linear-gradient(to right, #87CEFA, #ADD8E6);
        }
    </style>
</head>
<body>
    <h3>Personal_Tracker</h3>
</body>
@code {

}
