@page  "/entryLinkFoods/create/"
@using NutriView.Shared.Domain;
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New EntryLinkFood</h3>
<hr />
<br />

<FormComponent ButtonText="Create EntryLinkFood" entryLinkFood="entryLinkFood" OnValidSubmit="@CreateEntryLinkFood" />
@code {
    EntryLinkFood entryLinkFood = new EntryLinkFood();

    private IList<FoodEntry>? Foodentries;
    private IList<Food>? Foods;

    protected override async Task OnInitializedAsync()
    {
        Foodentries = await _client.GetFromJsonAsync<List<FoodEntry>>($"{Endpoints.FoodEntriesEndpoint}");
        Foods = await _client.GetFromJsonAsync<List<Food>>($"{Endpoints.FoodsEndpoint}");
    }

    private async Task CreateEntryLinkFood()
    {
        await _client.PostAsJsonAsync(Endpoints.EntryLinkFoodsEndpoint, entryLinkFood);
        _navManager.NavigateTo("/entryLinkFoods/");
    }
}

