@page "/nutritionalQuotas/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit NutritionalQuota</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditNutritionalQuota" nutritionalQuota="nutritionalQuota" />
@code {
    [Parameter] public int id { get; set; }
    NutritionalQuota? nutritionalQuota = new NutritionalQuota();
    protected async override Task OnParametersSetAsync()
    {
        nutritionalQuota = await
        _client.GetFromJsonAsync<NutritionalQuota>($"{Endpoints.NutritionalQuotasEndpoint}/{id}");
    }
    async Task EditNutritionalQuota()
    {
        await _client.PutAsJsonAsync($"{Endpoints.NutritionalQuotasEndpoint}/{id}",
        nutritionalQuota);
        _navManager.NavigateTo("/nutritionalQuotas/");
    }
}
