@page "/genders/create/"
@using NutriView.Shared.Domain
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create New Gender</h3>

<GenderForm ButtonText="Create Gender" gender="gender" OnValidSubmit="@CreateGender" />

@code {
    private Gender gender = new Gender();
    private IList<Customer> Customers;

    protected override async Task OnInitializedAsync()
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }
    private async Task CreateGender()
    {
        var response = await _client.PostAsJsonAsync($"{Endpoints.genderEndpoint}", gender);

        if (response.IsSuccessStatusCode)
        {
            _navManager.NavigateTo("/genders/");
        }
        else
        {
            // Handle errors here
        }
    }
}
