@inject HttpClient _client
@inject NavigationManager _navManager
@using NutriView.Shared.Domain

<div class="SubscriptionHeader">
    <h1>Be A Subscriber And Support Us!</h1>
</div>
<div class="Subscription_container">
    @if (SubscriptionInfos != null)
    {
        @foreach (var subscriptionInfo in SubscriptionInfos)
        {
            <div class="subscription_card">
                <h1>Be A @subscriptionInfo.SubTierName !!!</h1>
                <p>Benefits: @subscriptionInfo.SubDescription</p>
                <p>Cost: @subscriptionInfo.SubCost.ToString("C")</p>
                <button class="subscription_button" @onclick="() => ShowPurchase(subscriptionInfo)">Purchase</button>
            </div>
        }
    }
    else
    {
        <p>No subscription information available.</p>
    }
</div>

@code {
    private List<SubscriptionInfo>? SubscriptionInfos;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            SubscriptionInfos = await _client.GetFromJsonAsync<List<SubscriptionInfo>>("api/SubscriptionInfos");
            if (SubscriptionInfos is null)
            {
                SubscriptionInfos = new List<SubscriptionInfo>(); // Initialize to an empty list if null is returned
            }
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
    }

    private void ShowPurchase(SubscriptionInfo subscriptionInfo)
    {
        // Here you would usually navigate to a purchase page or handle the purchase logic
        // For example, let's navigate to a purchase confirmation page with the subscription ID
        _navManager.NavigateTo($"/subscriptionpage/purchaseconfirmation/{subscriptionInfo.Id}");

    }
}