@page "/companies/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@using NutriView.Shared.Domain;

<h3>Edit Company</h3>
<FormComponent ButtonText="Update" OnValidSubmit="EditCompany" company="company"></FormComponent>

@code {
    [Parameter] public int Id { get; set; }
    Company? company = new Company();
	protected async override Task OnParametersSetAsync()
	{
		company = await _client.GetFromJsonAsync<Company>($"{Endpoints.CompaniesEndpoint}/{Id}");
	}
	async Task EditCompany()
	{
		await _client.PutAsJsonAsync($"{Endpoints.CompaniesEndpoint}/{Id}", company);
		_navManager.NavigateTo("/companies/");
	}
}
