@page "/foods/create"
@using NutriView.Shared.Domain
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 Create New Food</h3>
<hr />
<br />
<FormComponent ButtonText="Create Food" food="food" OnValidSubmit="@CreateFood" />
@code {
    private Food food = new Food();
    private IList<FoodEntry> Entries;
    protected override async Task OnInitializedAsync()
    {
        Entries = await _client.GetFromJsonAsync<List<FoodEntry>>($"{Endpoints.FoodEntriesEndpoint}");
    }

    private async Task CreateFood()
    {
        var response = await _client.PostAsJsonAsync("api/foods/", food);

        if (response.IsSuccessStatusCode)
        {
            _navManager.NavigateTo("/foods/");
        }
        else
        {
            // Handle errors here
        }
    }
}
