@page "/PersonalNutritionalQuotas/create/{custid:int}"
@using NutriView.Shared.Domain;
@inject HttpClient _client
@inject NavigationManager _navManager
@using NutriView.Client.Pages.NutritionalQuotas_CRUD;

<h3 class="card-title">Create New NutritionalQuota for @custid</h3>
<hr />
<br />

<FormComponent ButtonText="Create NutritionalQuota" nutritionalQuota="nutritionalQuota" OnValidSubmit="@CreateNutritionalQuota" @ref="NutriQuotaComponentRef" CreatingQuotaThroughProfile="@CreatingQuotaThroughProfile"/>
@code {
    [Parameter] public bool CreatingQuotaThroughProfile { get; set; } = true;
    NutritionalQuota nutritionalQuota = new NutritionalQuota();
    [Parameter] public int custid { get; set; }

    private FormComponent NutriQuotaComponentRef;

    private async Task CreateNutritionalQuota()
    {
        NutriQuotaComponentRef.nutritionalQuota.CustomerID = custid;
        await _client.PostAsJsonAsync(Endpoints.NutritionalQuotasEndpoint, nutritionalQuota);
        _navManager.NavigateTo($"/profile/view/{custid}");
    }

}

